<div
    class="fixed top-0 left-0 w-screen h-screen flex justify-center items-center bg-gray-300 bg-opacity-50 z-50 shadow-xl">

    <div class="h-24 w-24 relative">
        <div class="absolute inset-0 flex justify-center items-center">
            <div class="h-auto w-auto rounded-full bg-white shadow-md animate-pulse">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/97/The_Earth_seen_from_Apollo_17.jpg"
                    alt="Earth" class="w-full h-full object-cover rounded-full">
            </div>
        </div>
    </div>

</div>